- name: create roboshop system user
  ansible.builtin.user:
    name: roboshop
    system: true
    home: /app
    shell: /sbin/nologin
    comment: "roboshop system user"
    create_home: false

- name: set up app directory
  ansible.builtin.file:
    path: /app 
    state: directory

- name: download catalogue code
  ansible.builtin.get_url:
    url: https://roboshop-artifacts.s3.amazonaws.com/catalogue-v3.zip
    dest: /tmp/catalogue.zip

# this module thinks file exist on ansible control server, needs to extract on to remote machine
#remote_src=yes means files already exist in catalogue server
- name: unzip and extract catalogue code
  ansible.builtin.unarchive:
    src: /tmp/catalogue.zip
    dest: /app 
    remote_src: yes